/* Gradients */
.gradient {
    position: absolute;
    mix-blend-mode: normal;
    will-change: filter;
}

.gradientSmall {
    filter: blur(32px);
}

.gradientLarge {
    filter: blur(75px);
}

.glowConic {
    background-image: var(--glow-conic);
}

.logoGradient {
    opacity: 0.9;
    width: 120px;
    height: 120px;
}

.backgroundGradient {
    top: -500px;
    width: 1000px;
    height: 1000px;
    opacity: 0.15;
}
